h1{
    text-align: center;
}

#div1{
    text-align: center;
}

table{
    margin-top: 20px;
    margin-left: 200px;
    background-color: #F2F2F2;
}

th{
    margin-top: 20px;
    /* background-color: #F2F2F2; */
    text-align: center;
    padding-left: 150px;
    
}

#div2{
    margin-left: 50%;
    margin-top: 20px;
}